<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Blog | About</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
          rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../css/styles.css">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="/">AW</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<header class="masthead"  style="background-image: url('img/blog-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="title col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>About</h1>
                    <span class="subheading">All About the MC Java Boot Camp</span>
                </div>
            </div>
        </div>
    </div>
</header>


<div class="jumbotron jumbotron-fluid">
    <div class="container text-center">
        <h1 class="display-4">
            America's Promise Java Web Developer Boot Camp
        </h1>
        <hr class="my-4">
        <h3 class="display-5">
            What is the program?
        </h3>
        <p class="lead">
            The Java Web Developer Boot Camp is an 8 hour a day (9 am - 5 pm, M-F) 8-week,
            immersive software engineering program funded by the Department of Labor. This course aims to
            increase the number of skilled software developers in this country. We do this by accepting
            qualified candidates who cannot afford the cost of a coding boot camp. If accepted into the
            program all fees will be covered by the program.
        </p>
        <h3 class="display-5">
            What will you learn?
        </h3>
        <p class="lead">
            The Java Web Development Bootcamp takes you from your first java program to developing a web application.
            This course will give you a fast start on your career so you can take it to the next level.
            The course will teach you by forcing you to write over 130 java applications, including 5 major
            web applications. Programming challenges will keep you on your toes. You'll learn to create web pages.
            You'll use frameworks and stored procedures. You'll connect to a database using the Java Persistence
            API(JPA) and Hibernate, and most importantly, all assignments are submitted through git, so you will learn
            to develop using best practices in class, to make it easy to contribute value when you are on the job.
        </p>
        <h3 class="display-5">
            Is this bootcamp right for me?
        </h3>
        <p class="lead">
            The bootcamp is for programmers with a basic understanding of an object oriented language:
            Java, C#, VB.NET, Python, PHP, Ruby or C++. You do not need experience developing web applications.
        </p>
        <h3 class="display-5">
            What is the criteria for admission?
        </h3>
        <p class="lead">
            Applicants must be passionate about coding and have the drive to succeed in an immersive environment.
            Our ideal candidate is an Information Systems or Computer Science major who is either at least a
            rising junior or graduated within the last six years. If a student doesn't meet those criteria,
            they can participate in a special one week mini-camp to assess their ability to learn in this environment.
            Applicants also must be unemployed or underemployed to qualify for the grant. In the state of Maryland,
            a person who makes $42,000 or less is underemployed. Must be able to work in the United States.
        </p>
    </div>
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <p class="copyright text-muted">Copyright &copy 2020 Austin Wang.</p>
            </div>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>