<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Blog | Posts</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="/">AW</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<header class="masthead"  style="background-image: url('img/blog-bg2.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="title col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Blog</h1>
                    <span class="subheading">Developer Blog Posts</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="card-columns">
    <div class="card">
        <div class="card-block">
            <a href="/blog/inheritance"><h4 class="card-title">Inheritance</h4></a>
            <p class="card-text">In Java, it is possible to inherit attributes and methods from one class to another.
                We group the "inheritance concept" into two categories:</p>
            <a href="/blog/inheritance">Read more ...</a>
            <p class="card-text"><small class="text-muted">Posted by <a href="/contact">Austin Wang</a>
                on January 30, 2020</small></p>
        </div>
    </div>
    <div class="card">
        <div class="card-block">
            <a href="/blog/abstraction"><h4 class="card-title">Abstraction</h4></a>
            <p class="card-text">One of the most fundamental concept of OOPs is Abstraction. Abstraction is a process where you show only
                “relevant” data and “hide” unnecessary details of an object from the user.</p>
            <a href="/blog/abstraction">Read more ...</a>
            <p class="card-text"><small class="text-muted">Posted by <a href="/contact">Austin Wang</a>
                on January 30, 2020</small></p>
        </div>
    </div>

    <div class="card">
        <div class="card-block">
            <a href="/blog/sbvsb"><h4 class="card-title">StringBuilder vs. StringBuffer</h4></a>
            <p class="card-text">‘StringBuffer’ is safe for use by multiple threads(Thread Safe).
                The methods are synchronized. String Builder is not thread safe.</p>
            <a href="/blog/sbvsb">Read more ...</a>
            <p class="card-text"><small class="text-muted">Posted by <a href="/contact">Austin Wang</a>
                on January 30, 2020</small></p>
        </div>
    </div>
    <div class="card">
        <div class="card-block">
            <a href="/blog/loops"><h4 class="card-title">Loops</h4></a>
            <p class="card-text">Looping in programming languages is a feature which facilitates the execution of a set
                of instructions/functions repeatedly while some condition evaluates to true.</p>
            <a href="/blog/loops">Read more ...</a>
            <p class="card-text"><small class="text-muted">Posted by <a href="/contact">Austin Wang</a>
                on January 30, 2020</small></p>
        </div>
    </div>

    <div class="card">
        <div class="card-block">
            <a href="/blog/ghwt"><h4 class="card-title">Github Walkthrough</h4></a>
            <p class="card-text"> For this walk-through, you'll want to open the Git shell. You can type the commands on the
                left and view the explanation on the right.</p>
            <a href="/blog/ghwt">Read more ...</a>
            <p class="card-text"><small class="text-muted">Posted by <a href="/contact">Austin Wang</a>
                on January 30, 2020</small></p>
        </div>
    </div>

    <div class="card">
        <div class="card-block">
            <a href="/blog/ght"><h4 class="card-title">Github Teams</h4></a>
            <p class="card-text">Anything in the master branch is deployable. To work on something new, issue a pull
                request then create a descriptively named branch off of master (ie: new-oauth2-scopes).</p>
            <a href="/blog/ght">Read more ...</a>
            <p class="card-text"><small class="text-muted">Posted by <a href="/contact">Austin Wang</a>
                on January 30, 2020</small></p>
        </div>
    </div>

</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <p class="copyright text-muted">Copyright &copy 2020 Austin Wang.</p>
            </div>
        </div>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>