<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Blog | Loops</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
          rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../css/styles.css">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="/">AW</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<header class="masthead"  style="background-image: url('/img/blog-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="title col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Loops</h1>
                    <span class="subheading">For | While | Do-While</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="jumbotron jumbotron-fluid">
    <div class="container text-center">
        <h3 class="display-5">
            Loops in Java
        </h3>
        <p class="lead left">
            Looping in programming languages is a feature which facilitates the execution of a set of instructions/functions
            repeatedly while some condition evaluates to true. Java provides three ways for executing the loops.
            While all the ways provide similar basic functionality, they differ in their syntax and condition checking time.
        </p>
        <p class="lead left">
            while loop: A while loop is a control flow statement that allows code to be executed repeatedly based on a
            given Boolean condition. The while loop can be thought of as a repeating if statement.
        </p>
        <img class="img-fluid" src="/img/while.png" alt="inheritance">
        <p class="lead left">
            for loop: for loop provides a concise way of writing the loop structure. Unlike a while loop, a for statement
            consumes the initialization, condition and increment/decrement in one line thereby providing a shorter, easy to debug structure of looping.
        </p>
        <img class="img-fluid" src="/img/for.png" alt="inheritance">
        <p class="lead left">
            do-while loop: do while loop is similar to while loop with only difference that it checks for condition after executing the statements
        </p>
        <img class="img-fluid" src="/img/dowhile.png" alt="inheritance">
        <p class="card-text"><small class="text-muted">Posted by <a href="/">Austin Wang</a>
            on January 30, 2020</small></p>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>